/*#phoneNumber {
	position: absolute;
	z-index: 
	width: 30px;
	margin-right: -30px;
	white-space: nowrap;
}*/

body {
	background-color: #3A7262;
}

.navbar {
	background-color: white !important;
}

/* Sticky navbar! */
.sticky {
  position: fixed;
  top: 0;
}

#content-block {
	margin: 23px;
}

#body-container {
	background-color: white;
	margin-top: 100px;
}

hr {
	margin-top: 1px;
	margin-left: 23px;
	margin-right: 23px;
	border: 0.5px solid #3A7262;
}

.navbar-toggler {
    background-color: transparent;
    color: #3A7262;
    border: 0.5px solid #3A7262;
}

.navbar-nav { 
	padding-left: 10px;
	padding-right: 10px;
}
.nav-item {
	padding-left: 10px;
}

h2 {
	font-weight: bold;
	color: gray;
	margin-top: 23px;
	padding-bottom: 16px;
}

.raise {
	transition: box-shadow .3s, transform .3s;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: translateY(-0.25em);
}

/* Navbar Collapse*/
@media (max-width:991px) {
	.navbar-toggler {
		width:auto;
	}
}

@media (max-width:786px) {
	.navbar-toggler {
		width:100%;
	}
	.navbar-nav {
		padding-bottom:10px;
	}
	#navbarNav {
		padding-top:10px;
	}
}

/* displays too small to fit the big name*/
@media (max-width:448px) {
	#big-name {
		width:100%;
		height:auto;
	}
}